    .card {
        margin: 8%;
        position: absolute;
        height: auto;
        width: 500px;
        border-radius: 10px;
        background-color: white;
        background-image: url("https://image.freepik.com/free-vector/open-gift-box-with-heart-shape-confetti-burst-explosion-3d-valentines-day-romantic-gift_165143-438.jpg");
        background-size: 50vh, 70vh;
        box-shadow: 0px 0px 20px red;
        transform: rotate(5deg);
        opacity: 0;
        top: 0%;
        left: 25%;
    }
    
    .honey {
        margin: auto;
        padding: 5%;
        display: block;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 red;
        width: 440px;
        height: 450px;
        object-fit: cover;
    }
    
    h4 {
        text-align: center;
        -webkit-text-fill-color: rgba(0, 200, 200, 0.1);
        -webkit-background-clip: text;
        background-image: url("https://i.pinimg.com/originals/20/21/7f/20217f7fa2c9701b8128d8fb153a4db9.gif");
        font-family: 'Allura', cursive;
        padding: -2%;
        font-size: 19px;
        overflow: hidden;
    }
    
    .card-show {
        opacity: 1 !important;
        transition: all 2s;
    }
    
    @media only screen and (max-width: 900px) {
        .card {
            width: 270px !important;
            left: 8% !important;
            top: 20% !important;
        }
        .honey {
            width: 220px !important;
            height: 300px !important;
        }
        #card1 {
            top: 0% !important;
            left: 8% !important;
        }
        #card1 h5 {
            font-size: 13px !important;
        }
    }
