svg:hover {
    opacity: 0.8;
}

svg {
    opacity: 0;
    pointer-events: none;
}

.svg-show {
    opacity: 0.5;
    transition: all 2s;
    cursor: pointer;
}

.muiten {
    position: fixed;
    top: 40%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media only screen and (max-width: 900px) {
    .muiten {
        justify-content: space-between !important;
    }
    svg {
        width: 40 !important;
        height: 40 !important;
    }
}
